.albums__item {
    flex-basis: 20%;
    margin: 10px 0 10px 4%;
}

.card {
    border: 1px solid #eee;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all .3s;
    border-radius: 10px;
    padding: 5px;
}

.card:hover {
    transform: scale(1.1);
}

.card__title {    
    padding: 0;
    margin: 0;
    width: 100%;  
    font-size: 24px;
    font-weight: bold;
}

.card__cover {
    position: relative;
    margin-bottom: 5px;
}

.card__img {
    width: 100%;
}

.card__count {
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {

    .albums__item { flex-basis: 28%; }
}


@media only screen and (max-width: 576px) {

    .albums__item { flex-basis: 44%; }
}

@media only screen and (max-width: 320px) {

    .albums__item { flex-basis: 92%; }
}